<% content_for(:title, t('.title')) %>
<h1>チャットルーム一覧</h1>

<% if @rooms&.any? %>
  <% @rooms.each do |room| %>
    <% other_user = room.users.where.not(id: current_user.id).first %>
    <div>
      <%= link_to "#{other_user.name}とのチャット", room_path(room) %>
    </div>
  <% end %>
<% else %>
  <p>チャットルームがありません。</p>
<% end %>

<h2>新しいチャットを開始</h2>
<%= form_with(url: rooms_path, local: true, method: :post) do |f| %>
  <div>
    <%= f.label :user_id, "チャットする相手を選択" %>
    <%= f.collection_select :user_id, User.where.not(id: current_user.id), :id, :name, prompt: "選択してください" %>
  </div>
  <%= f.submit "チャットを開始", class: "btn btn-primary" %>
<% end %>