<% content_for(:title, t('.title')) %>
<% if @room && @other_user %>
  <h1><%= @other_user.decorate.full_name %>とのチャット</h1>

  <div id="messages">
    <%= render @messages %>
  </div>

  <%= form_with(model: [@room, @message], local: true) do |f| %>
    <div class="input-group">
      <%= f.text_field :content, class: "form-control", placeholder: "メッセージを入力..." %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "送信", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>