<div class="col-sm-12 col-lg-4 mb-3" style="width: 100%; background-color: #FFEBCC; border-radius: 10px;">
  <div id="post-id-<%= post.id %>">
    <div class="card-body" style="padding: 10px 30px;">
      <div class="d-flex">
        <h5 class="card-title">
          <%= link_to post.title, post_path(post) %>
        </h5>
        <div class='ms-auto'>
              <%= link_to edit_post_path(post), id: "button-edit-#{post.id}" do %>
                <i class="bi bi-pencil-fill"></i>
              <% end %>
              <%= link_to post_path(post), id: "button-delete-#{post.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
                <i class="bi bi-trash-fill"></i>
              <% end %>
            </div>
      </div>
      <div class="mb-3 mt-3">
        <i class="bi bi-person"></i><%= post.user.decorate.full_name %>
      </div>
      <p class="card-text"><%= truncate(post.body, length: 10) %></p>
      <ul class="list-inline">
      <!-- ここにタグを表示させます。-->
        <li><i class="bi bi-calendar"></i><%= l post.created_at, format: :short %></li>
      </ul>
    </div>
  </div>
</div>
<hr>
