<div class="col-sm-12 col-lg-4 mb-3">
  <div id="post-id-<%= post.id %>">
    <div class="card-body">
      <div class="d-flex">
        <h5 class="card-title">
          <%= link_to post.title, '#' %>
        </h5>
      </div>
      <div class="mb-3 mt-3">
        <i class="bi bi-person"></i><%= post.user.decorate.full_name %>
      </div>
      <p class="card-text"><%= truncate(post.body, length: 10) %></p>
      <ul class="list-inline">
      <!-- ここにタグを表示させます。-->
        <li><i class="bi bi-calendar"></i><%= l post.created_at, format: :short %></li>
      </ul>
    </div>
  </div>
</div>
<hr>
